#main {
    text-align: center;
    border: 5px solid #1670a1;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}
div h1 {
    font-size: 3.5em;
    font-family: 'Fascinate Inline', cursive;
}
div h2 {
    font-family: 'Fascinate Inline', cursive;
}